.App {
  font-family: sans-serif;
  text-align: center;
}

.clickable {
  color: rgb(3, 83, 148);
}

.clickable:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.clickable:focus {
  color: blue;
}

.topic-title {
  font-size: 1.17em;
}

.related-topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.related-topics div {
  flex: 0 1 20%;
  border: 1px solid rgba(128, 128, 128, 0.164);
  margin: 30px;
  padding: 20px;
  border-radius: 3%;
}
